.header_div {
  height: 2.2rem;
  line-height: 2.2rem;
  position: relative;
}

.login {
  background-color: #fff;
  height: -webkit-fill-available;;
}

.header_jiantou_div {
  margin: 0 auto !important;
  text-align: center;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 30;
}

#app, .container, .rel {
  position: relative;
}

.to_back_div {
  width: 5.333333rem;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  line-height: 1.146667rem;
  color: #666 !important;
  width: 2.2rem;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  height: .933333rem;
  -webkit-background-size: cover;
  font-weight: 400;
  background-size: cover;
  text-align: right;
  padding-right: .466667rem;
}

.icon-jiantou:before {
  content: "\e60d";
}

.page_title {
  color: #000 !important;
  font-size: 1rem;
  vertical-align: middle;
}

.login_title span {
  color: #ff4a60;
  padding: .16rem .32rem;
  border-bottom: .08rem solid #ff4a60;
}

.errorMask {
  width: 100%;
  height: 22rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, .5);
}

.error {
  position: absolute;
  top: 50%;
  left: 12%;
  z-index: 11;
  background: #fff;
  text-align: center;
  width: 7.546667rem;
  border-radius: .266667rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.error_title {
  color: #000;
  margin: .266667rem 0 0;
}

.error_message {
  color: #3d3d3d;
  margin: .2rem 0 .4rem;
}

.error_confirm {
  color: #f8485e;
  padding: .266667rem 0;
  border-top: .026667rem solid #eee;
}

.login_fields {
  font-size: 1rem;
}

.mobile_type, .pwd_type {
  padding-top: .8rem;
}

.set-plack {
  background-color: transparent;
  vertical-align: middle;
  width: 85%;
}

.login_account {
  text-align: center;
  color: #555;
  margin: 1.8rem 0;
  font-size: 0.8rem;
}

.change_login {
  color: #48a0f8;
}

.login_fields__submit {
  text-align: center;
}

.login_fields__submit input {
  width: 8rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  background: #f1794e;
  color: #fff;
  border-radius: 1rem;
  margin-left: 0;
  border-width: 0;
}