.lay-head {

}

.mod-comicList .comicList-info .comicList-info-free .info-free-text, .mod-comicList .chapter-list-box .chapter-list .chapter-link, .mod-comicList .chapter-list-box .btn-expand-chapter-list, .mod-recommend3 .list_recommend3 .comic-item .comic-link, .mod-recommend3 .list_recommend3 .comic-item .comic-link .comic-cover, .mod-recommend3 .list_recommend3 .comic-item .comic-link .comic-cover img, .mod-animationList .animation-list.col-2 .animation-link, .mod-animationList .animation-list.col-2 .animation-cover, .mod-animationList .animation-list.col-2 .animation-cover .cover-image, .mod-animationList .animation-list.col-2 .animation-cover .video-dark-cover, .mod-toolBar .toolBar-toolRead {
  border-radius: 0.1rem;
  overflow: hidden;
}

.mod-animationList .animation-list.col-2 .animation-link {
  -webkit-box-shadow: 0 0 0.125rem rgba(9, 2, 4, 0.06);
  box-shadow: 0 0 0.125rem rgba(9, 2, 4, 0.06);
}

.mod-recommend3 .list_recommend3 .comic-item .comic-link .comic-info strong, .mod-recommend3 .list_recommend3 .comic-item .comic-link .comic-info small {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 1px;
}

.mod-head .head-info .head-info-cover, .mod-recommend3 .list_recommend3 .comic-item .comic-link .comic-cover {
  background-image: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAANIAAAEYCAMAAAAeQ1gWAAAAgVBMVEUAAADd3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d1XXN+nAAAAKnRSTlMA5v3yDSH07oH6fJ1KRrCoORzWWxPex3VqTwfRvI7hubWrhCiWBGVWPjJ1rRGyAAACcUlEQVR42u3aCW6jQBCF4WLfbGy8O96dZJzU/Q84kaIMOGBpEtMWtP7vAujpNU1XCwEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAX5vtnPAwFousHf2QvIktZiP9NBFLXBz9EogNZidVuyJNIy3NxZQg3Tqu62zTQAwrcq1w12JGkbn/npEVUmOqInUGYsbU04pwKsYUR60azcSMpX6zFEP+eFcVrcWQqdaY6ak4aFU2E0OCUGvCQkqGKhqIMSNtkEnbgq1WZb4YE7jawA2kXcNIK/ZDMWipjVJp1XuoFS++mLTVRltp0+tES/OhmOVoI0faNK1VZFKijRJpU15W9CY1vYy010/urrmiHi48Tz/tAnmAwyO2h71+8RYvf8Y3qurVJn7QK+78lK6/Fda3T+1Ka+qF9etA5Dt6g7t9l9YV3gOOrQNXbwkNZLpozUXatrqd6SilXo2A483NmqTCzKDuTcWIcZrPHxZJilF5nTIqxBx/vHpZeHolFzOC5WGfeJPDMhDzgktcFuY9iy38t1W28MLcnkTAjz09D1bn7LiY7KNIP0TRfrI4ZufV4PlJescfpqdJojclk1M69KUvnga7jf6XzW7Qg7pe1yNPf8AbrV+ly2axoz/mxDPpKv8c6q+E546+VkNHf80ZSgfFepdYOidVtSzTWO/ldu2nmlzvdpRuifRukXRLC5E86RYLF56F24OFm7hI7NqWyMYDkY3HVhuHCytHQCsHdTuvU64uveIsX2zmUZSoJlE03yzyLO7npRcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA67y/iNlttzNAyewAAAABJRU5ErkJggg==");
  background-size: contain;
  background-position: center;
  background-color: white;
}

.iconfont, .mod-comicList .chapter-list-box .chapter-list .chapter-link.lock::before {
  font-family: "iconfont" !important;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
}

.mod-comicList .comicList-info .comicList-info-free .info-free-text, .mod-comicList .chapter-list-box .chapter-list .chapter-link, .mod-comicList .chapter-list-box .btn-expand-chapter-list, .mod-recommend3 .list_recommend3 .comic-item .comic-link, .mod-recommend3 .list_recommend3 .comic-item .comic-link .comic-cover, .mod-recommend3 .list_recommend3 .comic-item .comic-link .comic-cover img, .mod-animationList .animation-list.col-2 .animation-link, .mod-animationList .animation-list.col-2 .animation-cover, .mod-animationList .animation-list.col-2 .animation-cover .cover-image, .mod-animationList .animation-list.col-2 .animation-cover .video-dark-cover, .mod-toolBar .toolBar-toolRead {
  border-radius: 0.1rem;
  overflow: hidden;
}

.mod-animationList .animation-list.col-2 .animation-link {
  -webkit-box-shadow: 0 0 0.125rem rgba(9, 2, 4, 0.06);
  box-shadow: 0 0 0.125rem rgba(9, 2, 4, 0.06);
}

.mod-recommend3 .list_recommend3 .comic-item .comic-link .comic-info strong, .mod-recommend3 .list_recommend3 .comic-item .comic-link .comic-info small {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 1px;
}

.mod-head .head-info .head-info-cover, .mod-recommend3 .list_recommend3 .comic-item .comic-link .comic-cover {
  background-image: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAANIAAAEYCAMAAAAeQ1gWAAAAgVBMVEUAAADd3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d1XXN+nAAAAKnRSTlMA5v3yDSH07oH6fJ1KRrCoORzWWxPex3VqTwfRvI7hubWrhCiWBGVWPjJ1rRGyAAACcUlEQVR42u3aCW6jQBCF4WLfbGy8O96dZJzU/Q84kaIMOGBpEtMWtP7vAujpNU1XCwEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAX5vtnPAwFousHf2QvIktZiP9NBFLXBz9EogNZidVuyJNIy3NxZQg3Tqu62zTQAwrcq1w12JGkbn/npEVUmOqInUGYsbU04pwKsYUR60azcSMpX6zFEP+eFcVrcWQqdaY6ak4aFU2E0OCUGvCQkqGKhqIMSNtkEnbgq1WZb4YE7jawA2kXcNIK/ZDMWipjVJp1XuoFS++mLTVRltp0+tES/OhmOVoI0faNK1VZFKijRJpU15W9CY1vYy010/urrmiHi48Tz/tAnmAwyO2h71+8RYvf8Y3qurVJn7QK+78lK6/Fda3T+1Ka+qF9etA5Dt6g7t9l9YV3gOOrQNXbwkNZLpozUXatrqd6SilXo2A483NmqTCzKDuTcWIcZrPHxZJilF5nTIqxBx/vHpZeHolFzOC5WGfeJPDMhDzgktcFuY9iy38t1W28MLcnkTAjz09D1bn7LiY7KNIP0TRfrI4ZufV4PlJescfpqdJojclk1M69KUvnga7jf6XzW7Qg7pe1yNPf8AbrV+ly2axoz/mxDPpKv8c6q+E546+VkNHf80ZSgfFepdYOidVtSzTWO/ldu2nmlzvdpRuifRukXRLC5E86RYLF56F24OFm7hI7NqWyMYDkY3HVhuHCytHQCsHdTuvU64uveIsX2zmUZSoJlE03yzyLO7npRcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA67y/iNlttzNAyewAAAABJRU5ErkJggg==");
  background-size: contain;
  background-position: center;
  background-color: white;
}

/*
刷新1
*/
.mod-comicList .chapter-list-box .chapter-list .chapter-link, .mod-comicList .chapter-list-box .btn-expand-chapter-list {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mod-comicList .chapter-list-box .chapter-list .chapter-link:active, .mod-comicList .chapter-list-box .btn-expand-chapter-list:active {
  position: relative;
}

.mod-comicList .chapter-list-box .chapter-list .chapter-link:active::after, .mod-comicList .chapter-list-box .btn-expand-chapter-list:active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.08);
  left: 0;
  top: 0;
}

/**
@mixin:tab-nav
parameter:$itemWidth
参数说明：接受px为单位的具体px值，会在内部转换rem，参数大小为设计图上tab切换标签一个点击按钮的宽度
用途说明：用户复用列表页头部tab切换页签样式
对应html格式：
  .xxx-tab（在此处引用tab-nav）
    div.tab-list
      a.tab-list-item * n （普通样式）
      a.tab-list-item .active （选中样式）
*/
/**
 * 三列的数字列表
 */
/**
  用于左图片右内容分布形式的列表样式
*/
/**
用于一行三列的列表排布，
上图片，下文字.
*/
.comic-title {
  /**
  漫画标题旁边的标签
  */
}

.comic-title .tag-vip-free {
  display: inline-block;
  vertical-align: text-bottom;
  width: 2.5rem;
  height: 0.975rem;
  background-image: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAGQAAAAnCAYAAAD5Lu2WAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpCNUJCRjMxNjMyMUYxMUU2ODIxRjhBRjJFMDgyRkMzMSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpCNUJCRjMxNzMyMUYxMUU2ODIxRjhBRjJFMDgyRkMzMSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkI1QkJGMzE0MzIxRjExRTY4MjFGOEFGMkUwODJGQzMxIiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkI1QkJGMzE1MzIxRjExRTY4MjFGOEFGMkUwODJGQzMxIi8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+9tTO+gAABGhJREFUeNrsWzuLFEEQ7pPDEx/I3E/Y+wfuqYkazQVGgjAraL6XGAqzamCk3IBmJruJkYI7YHLhTqaJeuM/cH6CjfhAo7Vaq6Go6+npeewD7IKi2dme7p7vq1f3zm7M53PhZX3khIfAE+LFE+IJ8dJQNsu++Hl3cAGax6BXQc94qFrLD9C3oA9PP59+Kuu0YaqygIyL0ByCPgJ9BQN8sxD3X6MM2Dj1A5zOQXMbjfw63Pexjoc8Bb0PN73wht0Zccqox0DML2ifgV6rk0Mug77xMC5EXoNeqpvUt4DRrx67hXiK8pAtX2X5snctJAL9Ahp2NF4MekQ+h5ATjkC7Gr+87LVUC2ryAFwvdegeIBg5aEGu90D7oGkJiDZJHZeq5j4AlTh3YOgjLffrNVLpo0asTx9woeNngI9cCiEIcAwL2INJs4q+QwRlBJqw68rathko6qGmCKA0ANzD6xMc0yZT7K/kc0mfxDJOZDCOAOePLUakCBrUMJzWISsloLqEDMnIcJ1jl+kOthkCMrbcP0bDGSHpVHfQY2UFaIlhDSkai/6snysB41Sf95YesmDiHLwjw/gZWNw+RGtJRHeSo/XN0CASFgo1GUP0ItPcM/ScPRxPVBDbZ2FMsDwiMGLEK8khKBMMCUML4MOaMb8uMZrwgoSTGQGwbwBOkHvGbLz9EqPKyTPExHt4LqSGkTV9sEZVFib0wpKAdTLPHKywy4qqR8BImBYkvo/IdWFI3jRn5cxDXJJ1yJL8wj1Ee8kBAZ57R4B9FgW+YGBNDGuS7J7c4LGxpcrKyVwB0biiMmyc2NsSEiP4mWGBRctwFZSEmxjBmhjyh6goY+uGxV0WDgtyTT/nFD0tJ2Vxv+ba2hOi6myd3Ek5SJP5qAUZscVyZUW5SuM/JzN12OeY1qI9fsAMpSCGQcvkkSp+lh2ydJyOWHIfkr1CU0lLvEs6JEyJ1hobvC1CogqDN3BvirFvj1VotgJGyXbTTWFrQkgJHCEhOpmnjsmvTNqEu8RQ+c1Ygt6tGEOHnQyfKcI9jO2kwebVSz3LSslxwqKTedPwFzrsh3pYENCN6T7zJomqTxqk8oY2HrEIQngMXWap60LGAa6pKudokKvK1YDkp7DrBW92NM6EWNc6/KbbJ+Wvy7kX3WPIkpwkiRfp8DeDkJ2TEJ209ZauCElxoW1L3bYSoqXrMzR+qCmRrKE4fqgZGjw7INdmpCAYkFCt5/xLEh6hpEBMsUpCCnH85NYmGiiTNdYZh4ecMSmLTeOPsI/pYJKHtZh4vSTfU4JzLG8TIEKHbF0m76ySENEARNnRODRsVp3g6s2ey28jOjcWLjkRj5NSPDIJVh2y1kXSDo1HigbhF3NI4zxSVmX9BqbPCy+dC+B6SuFbl5D3oDc9fAuRW6Af6oase6CHwOZJaF+CG373OLb2jLPQ3BH/3ly8UdZvo+wPO/hu7xPQK8K/29uFqHd734E+qP1ur5fViX9RzhPixRPiCfHSVP4IMAB+wWzkRG7pIwAAAABJRU5ErkJggg==");
  background-size: 2.5rem 0.975rem;
  background-repeat: no-repeat;
}

.svip-guiding {
  display: block;
  position: relative;
  width: 100%;
  -webkit-transition: opacity 300ms ease, visibility 300ms ease;
  transition: opacity 300ms ease, visibility 300ms ease;
  opacity: 1;
  visibility: visible;
  -webkit-box-shadow: 0 0 0.125rem rgba(9, 2, 4, 0.06);
  box-shadow: 0 0 0.125rem rgba(9, 2, 4, 0.06);
}

.svip-guiding .svip-guiding-download .svip-guiding-img {
  display: block;
  width: 100%;
}

.svip-guiding .svip-guiding-close {
  display: block;
  position: absolute;
  top: 40%;
  left: 0.85rem;
  width: 1rem;
  height: 1rem;
  background-image: url("../../images/svip-close.png");
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
}

.hide {
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s ease, visibility 300ms ease;
  transition: opacity 1s ease, visibility 300ms ease;
}

.mod-head .head-info {
  position: absolute;
  left: 0;
  top: 0;
}

.mod-head .head-banner, .mod-head .head-banner::before, .mod-head .head-info, .mod-head .head-info .head-info-cover img {
  width: 100%;
  height: 100%;
}

.mod-comment-item::after, .mod-hotComment .hotComment-more a:active::after, .mod-nav .btn-addFavorite:active::before, .mod-nav .btn-downLoad:active::before, .mod-nav .btn-share:active::before, .mod-head .head-banner::before, .mod-hotComment .hotComment-head .hotComment-head-title::before {
  content: '';
  position: absolute;
}

.mod-head .head-info .head-info-detail .head-info-title h1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 1px;
}

.mod-comment-item::after {
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
  -webkit-transform: scale(1, 0.5);
}

.mod-hotComment .hotComment-more a {
  display: block;
  text-align: center;
  font-size: 0.75rem;
  color: #666666;
  background-color: #ededed;
  margin: 0 auto;
  width: 14.5rem;
  height: 2.25rem;
  line-height: 2.25rem;
}

.mod-comment-item .comment-item-head .comment-item-head-layLeft .comment-item-userHead {
  -webkit-box-shadow: 0 0 0 1px #cccccc;
  box-shadow: 0 0 0 1px #cccccc;
}

@media screen and (min-device-pixel-ratio: 2) {
  .mod-comment-item .comment-item-head .comment-item-head-layLeft .comment-item-userHead {
    -webkit-box-shadow: 0 0 0 0.5px #cccccc;
    box-shadow: 0 0 0 0.5px #cccccc;
  }
}

@media screen and (min-device-pixel-ratio: 3) {
  .mod-comment-item .comment-item-head .comment-item-head-layLeft .comment-item-userHead {
    -webkit-box-shadow: 0 0 0 0.33333px #cccccc;
    box-shadow: 0 0 0 0.33333px #cccccc;
  }
}

.mod-hotComment .hotComment-more a {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mod-hotComment .hotComment-more a:active {
  position: relative;
}

.mod-hotComment .hotComment-more a:active::after {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.08);
  left: 0;
  top: 0;
}

.main {
  position: relative;
}

body .loading.comic-info-loading {
  display: none;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

body .loading.comic-info-loading .item {
  position: relative;
  top: 50%;
}

body.auto-jump-into .loading.comic-info-loading {
  display: block;
}

body.auto-jump-into .top-bar, body.auto-jump-into .main {
  display: none;
}

.mod-nav {
  height: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 1.3rem;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0;
}

.mod-nav .btn-back {
  font-size: 1.25rem;
  color: #fff;
}

.mod-nav .btn-addFavorite, .mod-nav .btn-downLoad, .mod-nav .btn-share {
  font-size: 1.25rem;
  display: inline-block;
  height: 1.9rem;
  line-height: 1.9rem;
  border-radius: 50%;
  text-align: center;
  width: 1.9rem;
  background-color: rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  color: #fff;
  position: relative;
}

.mod-nav .btn-addFavorite:active::before, .mod-nav .btn-downLoad:active::before, .mod-nav .btn-share:active::before {
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.08);
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
}

.mod-nav .btn-addFavorite, .mod-nav .btn-downLoad {
  margin-right: 0.55rem;
}

.mod-head {
  height: 12.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.mod-head .head-banner {
  overflow: hidden;
  z-index: 1;
  /*
  目前使用svg方案，暂不需要这个节点
  .head-banner-blur {
    width: 150%;
    height: 150%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    -webkit-filter: blur(30px);
    -webkit-transform: translate3d(0, 0, 0);
    position: absolute;
    left: -25%;
    top: -25%;
    z-index: 1;
  }
  */
}

.mod-head .head-banner::before {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}

.mod-head .head-info {
  z-index: 5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.mod-head .head-info .head-info-cover {
  width: 6.5rem;
  height: 8.75rem;
  margin-left: 1.05rem;
  margin-right: 1.15rem;
  position: relative;
}

.mod-head .head-info .head-info-cover img {
  display: block;
  z-index: 3;
  position: relative;
}

.mod-head .head-info .head-info-cover::before {
  width: 50%;
  height: 100%;
  display: block;
  -webkit-transform: skew(4deg, 0deg);
  transform: skew(4deg, 0deg);
  content: '';
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 2;
  right: -0.4rem;
  bottom: -0.25rem;
  -webkit-filter: blur(4px);
}

.mod-head .head-info .head-info-detail {
  color: #fff;
  height: 8.75rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  z-index: 1;
}

.mod-head .head-info .head-info-detail .head-info-tags {
  padding-top: 1rem;
  font-size: 0;
}

.mod-head .head-info .head-info-detail .head-info-tags label, .mod-head .head-info .head-info-detail .head-info-tags span {
  color: white;
  font-size: 0.6rem;
}

.mod-head .head-info .head-info-detail .head-info-tags span {
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  border-left: 1px solid white;
}

.mod-head .head-info .head-info-detail .head-info-tags span:nth-of-type(1) {
  border-left: none;
  padding-left: 0;
}

.mod-head .head-info .head-info-detail .head-info-title {
  padding-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mod-head .head-info .head-info-detail .head-info-title h1 {
  font-size: 0.95rem;
  text-shadow: 0 0 0.075rem rgba(9, 2, 4, 0.1);
  max-width: 7rem;
}

.mod-head .head-info .head-info-detail .head-info-title .head-info-grade {
  display: block;
  width: 1.05rem;
  height: 1.05rem;
  line-height: 1.05rem;
  font-size: 0.5rem;
  color: white;
  border-radius: 50%;
  text-align: center;
  background-color: #d97e5c;
  margin-left: 0.25rem;
}

.mod-head .head-info .head-info-detail .head-info-author, .mod-head .head-info .head-info-detail .head-info-hot, .mod-head .head-info .head-info-detail .head-info-mt {
  padding-top: 0.4rem;
  font-size: 0.6rem;
  line-height: 100%;
  color: white;
  text-shadow: 0 0 0.075rem rgba(9, 2, 4, 0.1);
}

.mod-head .head-info .head-info-detail .head-info-author .info-number, .mod-head .head-info .head-info-detail .head-info-hot .info-number, .mod-head .head-info .head-info-detail .head-info-mt .info-number {
  color: #fef886;
}

.mod-head .head-info .head-info-detail .head-info-animation {
  display: block;
  position: absolute;
  z-index: 1;
  width: 1.6rem;
  height: 1.6rem;
  bottom: 0.75rem;
  right: 0;
}

.mod-head .head-info .head-info-detail .head-info-animation a {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background: url("../../images/sc_img_comic-index.png") no-repeat 0rem 0rem;
  background-size: 4.875rem 3.275rem;
  background-repeat: no-repeat;
}

.mod-bannerAd {
  position: relative;
}

.mod-bannerAd::after {
  content: "";
  display: block;
  position: absolute;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  bottom: 0;
  width: 200%;
  left: -50%;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  border-bottom: 1px solid #C5C5C5;
}

.mod-bannerAd a {
  display: block;
}

.mod-bannerAd a img {
  display: block;
  width: 100%;
  height: 2.25rem;
}

.mod-bannerAd .btn-closeBannerAd {
  position: absolute;
  z-index: 1;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  left: 0.6rem;
  top: 0.8rem;
}

.mod-bannerAd .btn-closeBannerAd img {
  display: block;
  width: 100%;
  height: 100%;
}

.mod-tab {
  height: 2.25rem;
  background-color: white;
  border-bottom: 1px solid #F5F5EE;
}

.mod-tab .tab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mod-tab .tab-list .tab-list-item {
  display: block;
  width: 5.75rem;
  text-align: center;
  height: 2.25rem;
  line-height: 2.25rem;
  font-size: 0.75rem;
  position: relative;
  color: #969696;
}

.mod-tab .tab-list .tab-list-item.active {
  color: #535252;
}

.mod-tab .tab-list .tab-list-item.active::after {
  content: '';
  width: 0.5rem;
  height: 0.15rem;
  left: 2.625rem;
  bottom: 0;
  position: absolute;
  background-color: #ff9a6a;
  border-radius: 0.15rem;
  display: block;
}

.mod-detail {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: relative;
  background-color: white;
}

.mod-detail .detail-icon {
  font-size: 1.8rem;
  color: #C5C5C5;
  text-align: center;
  display: block;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

.mod-detail .detail-summary p {
  font-size: 0.7rem;
  color: #535252;
  line-height: 150%;
  padding-bottom: 0.75rem;
}
.mod-comicList{
  background-color: white;
}

.mod-comicList .comicList-info {
  margin-left: 4%;
  margin-right: 4%;
  color: #666666;
  font-size: 0.6rem;
}

.mod-comicList .comicList-info .comicList-info-free {
  display: none;
}

.mod-comicList .comicList-info .comicList-info-free a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.75rem;
}

.mod-comicList .comicList-info .comicList-info-free .info-free-headImg {
  display: block;
  width: 1.875rem;
  height: 1.5rem;
}

.mod-comicList .comicList-info .comicList-info-free .info-free-text {
  display: block;
  height: 1.25rem;
  line-height: 1.25rem;
  background-color: #C5C5C5;
  color: white;
  font-size: 0.7rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: relative;
  margin-left: 0.5rem;
}

.mod-comicList .comicList-info .comicList-info-free .info-free-text:before {
  content: '';
  display: block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 0.5rem;
  height: 0.5rem;
  background-color: #C5C5C5;
  position: absolute;
  left: -0.125rem;
  top: 0.4rem;
}

.mod-comicList .comicList-info .comicList-info-layBox {
  padding-top: 1rem;
}

.mod-comicList .comicList-info .comicList-info-time, .mod-comicList .comicList-info .comicList-info-update {
  color: #C5C5C5;
}

.mod-comicList .chapter-list-box {
  margin-top: 0.4rem;
}

.mod-comicList .chapter-list-box .chapter-list {
  padding-top: 0.1rem;
}

.mod-comicList .chapter-list-box {
  overflow-x: hidden;
}

.mod-comicList .chapter-list-box .chapter-list {
  font-size: 0;
  text-align: left;
}

.mod-comicList .chapter-list-box .chapter-list .chapter-item {
  display: inline-block;
  width: 28%;
  height: 2.25rem;
  margin-left: 4%;
  margin-bottom: 4%;
}

.mod-comicList .chapter-list-box .chapter-list .chapter-item:nth-child(3n) {
  margin-right: 4%;
}

.mod-comicList .chapter-list-box .chapter-list .chapter-link {
  display: block;
  height: 2.25rem;
  line-height: 2.25rem;
  border: 1px solid #C5C5C5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
  color: #535252;
  font-size: 0.8rem;
  text-align: center;
}

.mod-comicList .chapter-list-box .chapter-list .chapter-link.now {
  color: #ff9a6a;
  border-color: #ff9a6a;
}

.mod-comicList .chapter-list-box .chapter-list .chapter-link.lock {
  position: relative;
  color: #C5C5C5;
}

.mod-comicList .chapter-list-box .chapter-list .chapter-link.lock::before {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  content: '\e60a';
  font-size: 0.8rem;
  width: 0.8rem;
  color: #ff9a6a;
  height: 0.8rem;
  line-height: 0.8rem;
}

.mod-comicList .chapter-list-box .btn-expand-chapter-list {
  display: block;
  width: 92%;
  height: 2.25rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #C5C5C5;
  overflow: hidden;
  background-color: #fff;
  margin: 0 auto 0.75rem auto;
  color: #535252;
  font-size: 0.8rem;
  line-height: 2.25rem;
  text-align: center;
}

.mod-comicList .chapter-list-box .btn-expand-chapter-list.list-expanded {
  display: none;
}

.mod-comicList .chapter-list-box .chapter-item:nth-child(n+10) {
  display: none;
}

.mod-comicList .chapter-list-box .btn-expand-chapter-list {
  display: block;
}

.mod-comicList .chapter-list-box.list-expanded .chapter-item:nth-child(n+10) {
  display: inline-block;
}

.mod-comicList .chapter-list-box.list-expanded .btn-expand-chapter-list {
  display: none;
}

.mod-recommend3 {
  padding-top: 0.75rem;
  padding-bottom: 4rem;
  position: relative;
}

.mod-recommend3::before {
  content: "";
  display: block;
  position: absolute;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  top: 0;
  width: 200%;
  left: -50%;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  border-top: 1px solid #F5F5EE;
}

.mod-recommend3 h2 {
  font-size: 0.7rem;
  color: #969696;
  padding-bottom: 0.75rem;
  line-height: 100%;
  font-weight: normal;
  padding-left: 0.75rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mod-recommend3 .list_recommend3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mod-recommend3 .list_recommend3 .comic-item .comic-link {
  display: block;
  width: 5.25rem;
  background-color: #F5F5EE;
}

.mod-recommend3 .list_recommend3 .comic-item .comic-link .comic-cover {
  width: 5.25rem;
  height: 7rem;
}

.mod-recommend3 .list_recommend3 .comic-item .comic-link .comic-cover img {
  display: block;
  width: 100%;
  height: 100%;
}

.mod-recommend3 .list_recommend3 .comic-item .comic-link .comic-info strong, .mod-recommend3 .list_recommend3 .comic-item .comic-link .comic-info small {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  line-height: 100%;
}

.mod-recommend3 .list_recommend3 .comic-item .comic-link .comic-info strong {
  font-size: 0.7rem;
  color: #535252;
  padding-top: 0.375rem;
}

.mod-recommend3 .list_recommend3 .comic-item .comic-link .comic-info small {
  padding-top: 0.25rem;
  padding-bottom: 0.3rem;
  font-size: 0.6rem;
  color: #969696;
}

.mod-recommend3 .list_recommend3 .comic-item:nth-of-type(2) {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mod-animationList {
  background-color: #F5F5EE;
  padding-bottom: 0.75rem;
}

.mod-animationList h2 {
  font-size: 0.7rem;
  color: #969696;
  padding-left: 0.65rem;
  line-height: 100%;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: normal;
}

.mod-animationList .animation-list .animation-title .text {
  padding-top: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mod-animationList .animation-list.col-2 {
  font-size: 0;
  margin-top: -0.5rem;
}

.mod-animationList .animation-list.col-2 .animation-item {
  display: inline-block;
  margin-top: 0.5rem;
  width: 45%;
  margin-left: 3%;
  margin-right: 2%;
}

.mod-animationList .animation-list.col-2 .animation-item:nth-child(2n) {
  margin-left: 1%;
}

.mod-animationList .animation-list.col-2 .animation-link {
  display: block;
  position: relative;
  background-color: #FFFFFF;
  overflow: hidden;
}

.mod-animationList .animation-list.col-2 .animation-cover {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 60.46512%;
  margin-bottom: 0.35rem;
  overflow: hidden;
}

.mod-animationList .animation-list.col-2 .animation-cover .cover-image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mod-animationList .animation-list.col-2 .animation-cover .video-dark-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent url('data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAVgAAADQCAMAAAB1JolzAAAAaVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAnbPKNAAAAI3RSTlNJT0Q8ejhTcECDX1djMH9rLDRzJIhbZxccIBEodwyMB5AClF/CE1QAABgVSURBVHjapJuLVhNBEEQnCr4CCgj4QuX4/x9pks1Qyd6urQzpVQy+jl7vqenuie35+fnj859e9/v62OvzVBe9njZ1t633+/qyr8dtXe3rU6+Hfa17vXup1bzaKwq/ybte65d6mOrTS11N9birL1P1v87dtp621f/Gn/fVidz3eoH2/FL/VBuwwEqwwmq5Ciy5rsW1BtsOn1xHP/0Iq8ASrcCOkb0QWJEFWoC9fy59FVeRla4iK6ziOq6rYI0aW1hLtP0PUjgrtAIrsuIKsknZZnIAwsrXAa7G1hKqr8y2HUrb0a6Jls6S7PtIlsp2rM9HUcAgEFVwfQpcna79bwqsS1DfzB6HFuIiECBtSoOnBbL3QuuVbTEILoa4Xpl07VSBteTZ3vhqnTDY5jzIZKVsgTYrK7KNXEW1AAuuj5krjyxFAKF2fpuHpR82/hq0Y2R9a5DIAqy4mk5rRNeHT+bMQrLOoA5X8BbtwQT2YQktTzCC3UAyZKVsSw1B6LPQvnpbl5J1UvE1aAEXiUBph8iGnoudAcH6g4tgM1evK1w10D6ggre9PNl1JJuaLoA1nUGLwuYgCL5C1xWotgA08kX75aVdj5BlGnxEa1DHbBsLWApLrtR1Ja7M1cg0421iy6h9h6gFWYHdlXXWpwE7gxaDgIOBuHI9AK5IAcjqoeZayoQQB4ZsToMUswIbhd1V8JVc61ZAlUx9W9QS3IZIYOs1QvY8ZduQsK/i2tEeLwMkK6i+UNw85SdL3gZpE1kqy24WXCtlW+CaDq7ENdtKqHKVpR8O1kras8kK7YCyLc5cNdfHxFVgpWuwVdhQBi/Ywtpxstx0EWwvKitjKazrYIV12NcTbI1MM9soLcmi6cKmy5CNHVcT17iDNQ1BsSVc0BVtgA2Ay6LCgYaBzAVtJiuuIktlSdaDxe7FBqywBq6Vr4JKoJ0psPaPhAu2nHHHnc1h4JVtkavfaCVf2buWtn4wmoayZIE2pEGO2adxsgTrRwMGLLny2GpBVyHdUSVZL+/2VyBtvbRsaEkW3WwIgwzW3MrK10lZBGz2dXUKVgP09qgMYWhbSbuUs7it4XJ2XNkGX1Orxc0L1i5lui7KSqJ7qpfTI7a3ELdoEt7IWo5hK4y3xtk6DD5Hsh7sxYYrwPqGoODqfa2S9ZipTK3rEnSl7PaZCnEwA9vRsp2lsxzA8sagIQlwcknXQa7+0CJUmXp7UontW5xlPg+EVtLitgZgg7Mga8CGjiDlgMD6Q2urFnsrIM1lvIW0nBVE1rYG7LnGwfq3EZjVi7gKLLiuaq6w1VG9RpVs5e0cre0O0BrEmPUXYBxsHdiLtCNADpRchbUd6SpZZasBun+Fz4O2kLapRDY4++VMZRuF5W13OrnI1aWrsDpZwZPaAm7VI5g4KMmmMJhd00DZCDYvX7B6GfNVXEtboWmgS7aRbGspZv2Y0LmepGwbExZca7CNwhpdnarjbC+xSHBHWCQbbxOobAZ74Y8ujrIxYH0MZKw3RQEu0NozzAxh9QSGncHpHZfAUlhhZRJcPQ4FLLkSK0TtFDePXurTubZE653l4iCEAQZbKFtnQQs9bNgV+kYrc4Wsogpbg7pDZAU2kRVakQ3XXzI2JWw9GygIcg7UMdCp3kLVUAIPaw1akEXKHpGNK4OsLMHmJUEE23p5XWVrUDVWNTskstt/+RQGuTGIYLGHRcK6JMCmcN5oeV+J9eYaVH/92n2Y6uB7DnL3OBMANjpLstbZO6Osu69t6ejyCVv6ujzGunC9AdJfriayKqK9nKE1g4LAxgUix6/cFzQIq/W2FVazLLgaX6nrtXzd2SequSZ15W3Huv09EbTLJxi23qkzmF8luDBoRliBZQ/LgKWvrcYqrqpDrBO208pmrcgSLZ1lGFDZfJdAsOamK29fCFYJ64ctgWUIlEi/7qp/Iqq7r0DbBwbtwhkHb/TfmHLKZrBMWYLFjbcdZh8+YbnNfPUxgBAQVPHcMe3f6OWOrkqRgEPMxcFyz4UtlyEbGoMlsLg3SEGABjZwva5ytZMUy/13qUT1QFuAtc760RbKGrC8oyHY2GvZ9bZ8ZQfrfRVYdAE7qnsrxVIl2NJ2lgjJWW66BDYr648vZkGLvRaFZauFgDVcs64jhUCAtbO2C4PCGcqm6auVR5eCILcEDAKB9TmgA0uy7m1U/fhx8HpTELey1pAVWDZdUVluvJEFBqxvCey6ECNXWwZbx4BX9UdVm+822nasnizPr5WygMr6ISE0XPcAOxXB+u2L77TezDot42uv2QnVMW4eMe2fmkQQ2+gsF122lzV72dwXNB5d7AkorJ8NpGvhK3VlHzBBLEs/dBgIOshCGoQwWJ+asua9GwGs67XCbDA13QALX6lrpEq0MhfSGrJYG2D+ysoKbMoCa6yfuqywDca+TcIWXEuo378XcHd4dYoNguWY4JXl9pBXNAGsNtxhwc3tS+hgby3Yw5a1pNqrgnuo7FeGgcAqZOEsyAJsGGsj2DB1jSZs0cGCq/JVsopohyq4tPcgauuGdj4nCKyyACkrsFLWZIG9rG1MArcm8AkrrB6sGQvK7kosyzJoQdaDDcp2tAIb+oIAFj1BOrr8zFVsCssYoK5imtGiQSDahW1MtT7EXjYuDOp+S2D9219MwPqtVu60JKuoQtZYQqtyJxichbJYH+K+dmz4ahy78s3BOglLsNcebIL6bfOwdiEstFI2gn2blF3HtSyzIINlr5W3BBSWWDPXEuruiz44a42yU/ltjFnMImRDFmSwYerCNAuuo77W2dopfpvVHO4P5kFyVsp2sCuQRRaIbDD2owGLhDW9VgKLgBXVE30VSz2iq1ogK7RpZ7Bqo8qSLMGekwTvYhLg3DJcj12diLJe8JLsV5IV2GtdiuP8ikOCv/saB3uX9y/k2iCsCQLLVVhFlbX/CdZZTQoIA6Ys14fsCzxY3xd4Y3l1MJQE7LRuPFdEQChK69PAt1x5rnVk+ZYYDzZH7JW7kaGwIQnIVWjh6k99gzJkEQaxl81gx7OgVcIOJcHKHF1BWHElVWH9+VMvkLbWWYYBtzFU1mfB1dlgeYk4ngQS9gArArbKV4WrfP051ebVFi3xZrI32HMJrFX2gcqG3WEC648uJkHstQQ2c4WtE0890xecYplsSNmzQtafXs1GbJwOCJYJq4DNXA/RdklVE1dkgiMLsNdRWWaBNzZ3si1EbEqCVoK9TGDJFVRprDIBaDPZa6csFwYD1+ABrI/Y3MSuTuDqJlmdWjVV1Lf+0QUtWwMp+8osyFPtRQbLjM0Rm8Fi5JKusBUJUNAl2l51zMpYTF/oC2LI5nWBwIrrU4pYJsHKHF1WWPoqYZWsLLrryFJZkuUdDbIgNVzLI0LLEcv3cGdhORswYOnrxCuVwlfdgVGWZNOQgNPLrAtiyDZGbNhsGWGRBFZYe27tcaki3RwGVJZZAGXzviDvZBsjdiAJViFhrbDkWgL9fVQmagfCAFnwIfQFUBZRcDrY3MWiJ3BJQK4U1uo6sdQjuKW0SdmcBewL8uzlF1wt3R4gCXLEZmHJtXJ1Jmyni6CNZHllG/oChOz46dUgbN5xI2L9VRdng5N8BVXBhbMvVYC1c60P2XyNYN+BvAB2V248GIhYcE3CwlZbdJZjQs6CdKmYTq87kA1gMXeNR+xbJgFmrlLYXrA1aCtlM9nTwNLY8bagndMUlCvuwSSgrxmrpEXKhpA1yi6FbM7YbGw+u6yxmasRFr6isrOZrG+4UhSQ7ADYdC1j3wGTV9zlNMuA9Vz/7h+UnxP88ZVDNp9euS0A2PCOguFmS8by6KKwzNcJ6N9N9ddHFZX1IZs3XACLjM1gR1dbMlZccxRQWOursB7XxFZJi5gNyoaQXeXTa2DX3Yaagnh2XdqxKworX4X1N8gaZwNYhKy5UyTZ3BY4sOc3BaHZorAwlu2AkKLIVcrmLHDGStncFhiw48YaYVdu7tKtd0hYrQqZAw6tc3bo+CLYwdMrr2Fa7raUBKEpUBSkJBBXGWt9ZRyw6aKyBIvV4VkhazM2gzXvgRkGK2UhbM1VWLOyOWXjVOtnr7TrzmBzU/BpdO5CxNbGqtMC1+SslFXK5uNr0dhGsOGN3a8E++iM9XOXF5bGZmH/c3Muu3FDMQyVukmXRQO0qyCY///JFjYCBaYFVkOOeyfOommWB4Sunrx9/ABalCyPBahY2i3gFQIBC5GAh4IIBpZzLcWexNcd5+3v936gC5I9T2VhwYCFgiC97kGFEKTwoool5UG9XUywhfazYj++iWQrFkzBJgP768Fg6dtVku3BomAxDtw2pe6/UckiWJ4WtIoljcOm9BqB7XtbJCkosDDsQsUi2Q1rKXaPCCBZqlieb90P9qcOVktjX7liEev7EevtLOkaKPYHm4HnBCwpvWJS0fKBFwE7FGx9BRjA8tqr6Rxqin0RwFLFCmBLsR3YXab1NXlBU3xNwX4bKPbFCpbH2OLag+VZbAWCqWILLE9kESxNt/yKZa0CDvYVwIJiMYs95YoJV9VeGtj2LOlSsFyxVXjN6i7ICFq2GGNdik0Eu30msIPm1vd/A8tjLL5dfZR9syh248rbW88G1qpYAOtuFiwTY09DwXqKhRjbhYJlYix5vEgee6ZYKBDsMRYfryXyWJZu8ayApluXZgX/p0DQKy+uWMTaK1YvEGKJAiEeWnndgOz2X9IrEEvaFEraS7tbwwECNmMxxPaVl9CEEbpbDwEbhrYhzr4PU5lDRgBc1X4sKlZvG+oTBL3RjYlsr9lNr20/9vka3S3YkEYzqFh8vvppIk4QDKOZDM9oRh0mpmOY2D1fhXYProfiAAS7+DARxt/ilJaThderyNZjVf9ywQoVbYYw/jYubOQlCxsYCN4awaoLGzFe2PhqK0bNjFZdMUphxci7FJfSUhxKtr7x6pZjKS6EpTjvGmdY1jgLLMTZybahvsaZwhqnd/E4pcXjkuxAs80RgmXxOO5aPF53Vf50o/ucbZ14YGNLX5VPdVXeddwRaTnu2DVbbAstypUIVjruCPm4Y7VzpP3DYFAxof5UWOHQSz1HSts5kn5Al54DOnzBqu9dv7SCXfqA7r6Tz/CcfNYHaBEp5gOmk88M78mnnhboR8olWnqkjHp9kiPl0Vl96Gf1qNnhgbLrrD6Vs/p1jSBAswQt6nV1I4iZdUm4rEvqY2jBfstkXZKhWpc4zXZSMttBySJa1OqGttiua7aj2EOFzR5qg1RYN7RoY3SAarSHSps91HKGZhtWCAn1c2Ye6TM0C8XQzG/Bl+Gz4MNwcKUFX4ZqwbeyaSSxjeyereVNI++xOQ3Z5rTQTrh+LgwMNqcZZptT2Zg3LzHmxej6DMa8kpV0uK2kgS1i9VtJp2ol7Tc/zweYn3d0fzfe57r5eejm50va9f+h7g5WowiiKAx3u1CQZCOGCSSLvP9TCqngP8w/h5OiK2Sm3KjLj8Pp29Wae0L2fPaCGOjTl/y4/n31j+tfsGBiX7VgQrZ5voL1HhZM3MJKlItzEdmTy3XNSpT9+EqU9Ut8tv3gEh9OXeLjTX83vsTnm9dOeU2i106Z9R7WTh1blLavXJQ2aOt5XrkobV++KO02V/s9N9TVq/225av9bnIZpQeE3AG4HllGuR9fRnkP61NP6gSprl2fuq1bn7p44e/+RQt/L/fSslo51Ovswl9YFy38vacV1TqLV1TvK1ZU3+NS9Y+4woxqcJ1bqr591VL1IQus7ws8cOlWVpF1zWZYaANuSKtZPwWbt/3mmcD/W8aBNew4hs13h08tssD6yyJD11XbCVNY5aoPszy4WmCf9PFgugkEqy5ANsDqiktlwPcv0xJbZIltYVULmBVY5zW/HKhicf3kTDBgy1zQJy5fyxoWWmRHahVa9itbFFWlVa4ZFlft8VLDAlu+zwpWXRBuYqBNt7KGpWahdR2QWh/FNLiqBoaq714+/zbb/4U8icWVKlAXhImrXxhAG2RDGbwge802oDqufm7pVXaw5usXww7XeGM4AZu7oLcssNA22MGqzPo4r8jOwMJaG9aJjYHtsOXtK0V2z7CWhZY6ILXFk7Qqr3INl1qeCXJgXbG4xmFrwPL08uPrF7DxvRZZRq4flIEy69Ai23FBhVVxlSuwYgW2BBZYN0GHfQ2w4fJQGz/zC5hl3QecEcwzzvHrI6wcVHteA+xPv83mm1gS6yYwbL8vKDcGgzbD5sy6EDjn6SSrV7sV2JbXPBLEz96Tr13AKrLto6K/0WRYT7PuAyqhHHeA29WugtUI22at/E+2kDUskTWsR1kS20Yuyzq0gxZYbJsqqKEG9C6riYAm6IHNV9wMW4bNjy9HNkxc4dVWsj20L0Ouo8LqtGZXYA8FNjdBh/WFAZH9PWChxRXYLOvQvuNy/tu+jF/j93aFVbByNSysE4HVTFBg82Ag2JDZeDOLLLbQGtetS1MorMrrQLUrT654v+3A9tfZ603wNmDDxKWWbZ8VySzfbMmsYW1bjlRh1VNLeUW1wT5MwCqwgtUVV/uS4LsYX3rnOlBqse2oqF6UwIANrKlg6QFg5ZofXRm2T1yG9chlWNMi64cY550uoRJVpXWo0gL55kWXLyqC/HLw6h6w69v2V5EFNkcWWL2ApcwO2UgLLrxn+T37G7Hmh5ZhFdjWsAMWV2DdsIb1YICsBwPXrF8TgE1F664VbjmP6lbBpsAWV1jL22wqggT7mi+5KiyZdRmY9vGcdhZWaYW1unrScsF61CKwHRbZAasbg9yyDLPIKrMhtOoD43bUzlp6IBeBRoIeWGYtwerxZdoH1WzKbJc1LYXbTWGddp0cYT1q5cCS2BRZZTZcH05m1rTY2hfh9z+B2ln5xKWBwK5lhM2fZAxLYnvL+vmVZT0ahNcw0QpXx6hixVV5TQ3bn1xuWMHiCqwii6y7QLIlshuwlda2XRVW1YBdYc2usyMBroadj+xMzW5ZFlrONCqqjqvzimv8MOsn12CdCeyARdajbL+L6Zlloi20BLehmtVxxRXV5GpYFcGf0rAV1mWAa7jyTpmNr7fQ2jYDAyrWGtec1ye7GpaC7YEF1pEt14eUAZGdkIVWtv10VeLqvLaCpQiOBdawlgU2tqwuvZHdL4YDy/4r3W5Wm4zCIAAH7cJacOEFSPD+L9LQEAfzMAzHnK67eZjO956fPtlu3py0wMo0wHeLs5c81aIImGHPYCMb2HVksGXTtGWkbbH9FBsxjaqoYxp4sH5waUARMMP2Vxq6Cutdgq8MbANlE1phe2qTXHVzMwAraf2WuD5sn2DjOgq25dXACqvsG/eKP0cbeIZoZrGFVt/7z13VdfvFUq7kNaj9bLsXQQK7XAOrrEcGKQO3tpENLJ8waY0tuGt9RZW7Lc5dxkDg1iCwJ66//1YBsGMyQNbMQstHLLZEd6yQyrqmgdTrGAgoghPYX0bWMmA0ALbISmto77RZN7VhGlRYS1ynay3Y8yIQNrLjypaa7bIWbUmtS15EUYWVIYt+3a4WwQ7sDbZG1sMYalbZj9IGjAehxXYsVMMaV04HDvP631+uwEZ2RNaa3bKGVtpWChtVVvNKXHEdBdtd3czGNbCRBRbZs8waWmnF3aiownrm2gpW2LB6wJ3EHsp6HLNluVeAFtxlesD6uuvbuOiyCYSlZ/kfpVdkLQRt4/spHE1EO6uugd2ubrnKnuth+1wEd9iDyJLZwCpr0YbW1Irr6qh2a4nriWuFNbEGVtixAeuZdehKaKEltuJuVFVDewlrxoHANtfAdldgCWxgGQymbGCRpQ4SWi4XsEW3kKJKCbR6xXUUbD0s7IEN7CiDyNbIKgttYEdsAUZUVDewvQa2q3n1JcF7HbWA7ZEVdssGts4HbMjmUjWbgTwb6HEdrnvS2gV7DSyRPSsD2yCfMEJrarPOVbMaa1Rzqn3m2t4WChvWwM79V4Yut2DSmlpt7w5RJbkrqfmlTAIXVInr98XqoGURuJkF9lpkvVpcoVW2p9ZbsX+Nb3LFM3/6JaywvuC6t1xMBIG9BnZ8wKasx4iGVtpXVoZWWI3rdg0srGy52l72AfteI9sfGnRZaVNwnbbyfnn6KSuqB3GNazvR0tUisGCT2C77ox50bVlDK21wsT2K6mSNK3nlimu6wmpghX0sIjumLrcKNq2NMJI7WZuqw4Cs9oB5bZMWsiuxcQ0tswE3Cky0fsM27YXojqCKalh7C8jqjYGq2RjsxP4B2kQKtrA/+rMAAAAASUVORK5CYII=') scroll no-repeat;
  background-size: 100% 100%;
}

.mod-animationList .animation-list.col-2 .animation-cover .btn.play {
  display: block;
  text-indent: -2500rem;
  font-size: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.8375rem;
  width: 1.675rem;
  height: 1.675rem;
  background: url("../../images/sc_img_comic-index.png") no-repeat 0rem 0rem;
  background-size: 4.875rem 3.275rem;
  background-repeat: no-repeat;
}

.mod-animationList .animation-list.col-2 .animation-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  margin-bottom: 0.25rem;
}

.mod-animationList .animation-list.col-2 .animation-title .icon.play {
  display: block;
  text-indent: -2500rem;
  font-size: 0;
  width: 0.55rem;
  height: 0.55rem;
  background: url("../../images/sc_img_comic-index.png") no-repeat -3.525rem -1.6rem;
  background-size: 4.875rem 3.275rem;
  background-repeat: no-repeat;
}

.mod-animationList .animation-list.col-2 .animation-title .text {
  margin-left: 0.25rem;
  font-size: 0.7rem;
  font-weight: bold;
  color: #535252;
}

.mod-animationList .animation-list.col-2 .animation-length {
  display: block;
  margin-left: 1.1rem;
  margin-right: 0.3rem;
  margin-bottom: 0.35rem;
  font-size: 0.6rem;
  font-weight: normal;
  color: #969696;
}

.mod-hotComment {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  border-top: 0.75rem #ededed solid;
}

.mod-hotComment .hotComment-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 2rem;
  line-height: 2rem;
  position: relative;
  padding-bottom: 0.5rem;
}

.mod-hotComment .hotComment-head .hotComment-head-title {
  font-size: 0.8rem;
  color: #666666;
}

.mod-hotComment .hotComment-head .hotComment-head-title::before {
  width: 0.2rem;
  height: 0.8rem;
  background-color: #e86a3e;
  left: -0.75rem;
  top: 0.6rem;
}

.mod-hotComment .hotComment-head .hotComment-head-write {
  font-size: 0.7rem;
  padding-right: 0.45rem;
  color: #e86a3e;
}

.mod-hotComment .hotComment-head .hotComment-head-write::after {
  content: '>';
  position: absolute;
  display: block;
  top: 0;
  right: 0;
}

.mod-hotComment .hotComment-head .hotComment-head-write:active {
  color: #e65214;
}

.mod-hotComment .hotComment-head .hotComment-head-write:active a {
  color: #e65214;
}

.mod-hotComment .hotComment-head .hotComment-head-write a {
  display: block;
  height: 100%;
  color: #e86a3e;
  text-decoration: underline;
}

.mod-hotComment .hotComment-more {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.lay-comment {
  padding-bottom: 3rem;
}

.mod-common {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 3.75rem;
}

.mod-comment-item {
  position: relative;
  padding-top: 0.9rem;
}

.mod-comment-item::after {
  bottom: 0;
  left: 0;
}

.mod-comment-item .comment-item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #666666;
}

.mod-comment-item .comment-item-head .comment-item-head-layLeft {
  font-size: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.mod-comment-item .comment-item-head .comment-item-head-layLeft img, .mod-comment-item .comment-item-head .comment-item-head-layLeft span {
  vertical-align: middle;
}

.mod-comment-item .comment-item-head .comment-item-head-layLeft .comment-item-userHead {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 0.3rem;
}

.mod-comment-item .comment-item-head .comment-item-head-layLeft .comment-item-userName {
  color: #e86a3e;
  display: block;
  padding-bottom: 0.15rem;
}

.mod-comment-item .comment-item-head .comment-item-head-layLeft .comment-item-time {
  color: #cccccc;
  font-size: 0.6rem;
}

.mod-comment-item .comment-item-head .comment-item-like {
  display: block;
}

.mod-comment-item .comment-item-head .comment-item-like .unlike, .mod-comment-item .comment-item-head .comment-item-like .liked {
  font-size: 1.05rem;
  display: none;
}

.mod-comment-item .comment-item-head .comment-item-like.liked .liked {
  display: inline-block;
  color: #e86a3e;
}

.mod-comment-item .comment-item-head .comment-item-like.unlike .unlike {
  display: inline-block;
}

.mod-comment-item .comment-item-head .comment-item-like .comment-item-like-count {
  font-size: 0.6rem;
  color: #969696;
}

.mod-comment-item .comment-item-content {
  padding-left: 1.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.875rem;
}

.mod-comment-item .comment-item-content p {
  font-size: 0.8rem;
  color: #535252;
  line-height: 150%;
  word-break: break-all;
}

.mod-comment-item .comment-item-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 2.05rem;
  padding-bottom: 0.95rem;
}

.mod-comment-item .comment-item-control .comment-from {
  color: #cccccc;
  font-size: 0.6rem;
}

.mod-comment-item .comment-item-control .comment-item-return, .mod-comment-item .comment-item-control .comment-item-good {
  color: #9a9a9a;
}

.mod-comment-item .comment-item-control .comment-item-return span:nth-of-type(1), .mod-comment-item .comment-item-control .comment-item-good span:nth-of-type(1) {
  display: inline-block;
  font-size: 0.8rem;
  height: 0.8rem;
  line-height: 0.8rem;
  vertical-align: baseline;
  margin-right: 0.25rem;
}

.mod-comment-item .comment-item-control .comment-item-return span:nth-of-type(2), .mod-comment-item .comment-item-control .comment-item-good span:nth-of-type(2) {
  font-size: 0.6rem;
  vertical-align: bottom;
  line-height: 0.8rem;
}

.mod-comment-item .comment-item-control .comment-item-return {
  margin-right: 2rem;
}

.mod-comment-item .comment-item-control .comment-item-good {
  position: relative;
}

.mod-comment-item .comment-item-control .comment-item-good::before {
  content: '+1';
  position: absolute;
  font-size: 0.6rem;
  left: 0.3rem;
  opacity: 0;
}

@-webkit-keyframes comment-item-good-play {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -1.5rem, 0) scale(1.5);
  }
}

.mod-comment-item .comment-item-control .active {
  color: #e65214;
}

.mod-comment-item .comment-item-control .active::before {
  -webkit-animation: comment-item-good-play 0.5s ease;
}

.mod-common-status {
  text-align: center;
  padding-top: 0.95rem;
  padding-bottom: 0.95rem;
  color: #9a9a9a;
  font-size: 0.6rem;
}

.mod-common-status .mod-loading-btn-top {
  text-align: center;
  display: inline-block;
}

.mod-common-status .mod-loading-btn-top span {
  display: inline-block;
  vertical-align: middle;
  width: 5px;
  height: 5px;
  background-color: #7a8090;
  border-radius: 50%;
  margin: 0 3px;
}

.mod-common-status .mod-loading-btn-top span:nth-of-type(1) {
  background-color: #7a8090;
  -webkit-animation: mod-loading-btn_move 1s ease-in infinite;
}

.mod-common-status .mod-loading-btn-top span:nth-of-type(2) {
  background-color: rgba(122, 128, 144, 0.6);
  -webkit-animation: mod-loading-btn_move 1s ease-in 0.3s infinite;
}

.mod-common-status .mod-loading-btn-top span:nth-of-type(3) {
  background-color: rgba(122, 128, 144, 0.3);
  -webkit-animation: mod-loading-btn_move 1s ease-in 0.7s infinite;
}

@-webkit-keyframes mod-loading-btn_move {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.mod-common-status p {
  display: inline-block;
  vertical-align: middle;
}

.mod-toolBar {
  background-color: white;
  height: 3.25rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  z-index: 9;
  bottom: 0;
  left: 0;
  width: 100%;
}

.mod-toolBar::before {
  content: "";
  display: block;
  position: absolute;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  top: 0;
  width: 200%;
  left: -50%;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  border-top: 1px solid #C5C5C5;
}

.mod-toolBar .lay-flex {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.mod-toolBar .lay-flex .lay-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mod-toolBar .toolBar-toolFav, .mod-toolBar .toolBar-toolShare, .mod-toolBar .toolBar-toolRead, .mod-toolBar .toolBar-toolDownload {
  display: block;
  margin-left: 1.4rem;
  overflow: hidden;
}

.mod-toolBar .toolBar-toolFav {
  text-indent: -100em;
}

.mod-toolBar .toolBar-toolFav.faved {
  width: 1.35rem;
  height: 1.35rem;
  background: url("../../images/sc_img_comic-index.png") no-repeat -1.925rem 0rem;
  background-size: 4.875rem 3.275rem;
  background-repeat: no-repeat;
}

.mod-toolBar .toolBar-toolFav.unfav {
  width: 1.35rem;
  height: 1.35rem;
  background: url("../../images/sc_img_comic-index.png") no-repeat 0rem -1.925rem;
  background-size: 4.875rem 3.275rem;
  background-repeat: no-repeat;
}

.mod-toolBar .toolBar-toolShare {
  text-indent: -100em;
  width: 1.35rem;
  height: 1.35rem;
  background: url("../../images/sc_img_comic-index.png") no-repeat -1.6rem -1.925rem;
  background-size: 4.875rem 3.275rem;
  background-repeat: no-repeat;
}

.mod-toolBar .toolBar-toolDownload {
  text-indent: -100em;
  width: 1.35rem;
  height: 1.35rem;
  background: url("../../images/sc_img_comic-index.png") no-repeat -3.525rem 0rem;
  background-size: 4.875rem 3.275rem;
  background-repeat: no-repeat;
}

.mod-toolBar .toolBar-toolRead {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  height: 2.25rem;
  line-height: 2.25rem;
  background-color: #ff9a6a;
  text-align: center;
  margin-right: 0.75rem;
}

@media screen and (min-width: 512px) {
  .mod-toolBar .toolBar-toolRead {
    max-width: 10.25rem;
  }
}

.mod-commentLink {
  background-color: #F5F5EE;
  height: 3.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.mod-commentLink::before {
  content: "";
  display: block;
  position: absolute;
  -webkit-transform-origin: center top;
  transform-origin: center top;
  top: 0;
  width: 200%;
  left: -50%;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  border-top: 1px solid #C5C5C5;
}

.mod-commentLink a {
  display: block;
  background-color: white;
  width: 17.75rem;
  border: 1px solid #C5C5C5;
  font-size: 0.7rem;
  color: #C5C5C5;
  text-align: center;
  height: 1.9rem;
  line-height: 1.9rem;
  border-radius: 0.95rem;
  vertical-align: middle;
}

.mod-commentLink a span {
  font-size: 1.05rem;
  display: inline-block;
}