.category-strong {
  margin-left: auto;
  margin-right: auto;
  width: 17.95rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.category-strong .category-strong-ul {
  margin-top: 0.5rem;
  background-color: white;
  overflow: hidden;
  width: 100%;
}

.category-strong .category-strong-ul .strong-ul-item {
  width: 50%;
  height: 2.55rem;
  float: left;
  position: relative;
}

.category-strong .category-strong-ul .strong-ul-item::after {
  width: 6.3rem;
  height: 1px;
  -webkit-transform: scale(1, 0.5);
  transform: scale(1, 0.5);
  background-color: #F5F5EE;
  content: '';
  position: absolute;
  left: 1.25rem;
  bottom: 0px;
}

.category-strong .category-strong-ul .strong-ul-item .strong-ul-item-link {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.category-strong .category-strong-ul .strong-ul-item .strong-ul-item-link strong {
  color: #969696;
  font-size: 0.75rem;
  display: block;
  line-height: 2.55rem;
  vertical-align: middle;
  width: 1.75rem;
  font-weight: normal;
}

.category-strong .category-strong-ul .strong-ul-item .strong-ul-item-link small {
  display: block;
  color: white;
  background-image: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAAEcAAAAcCAMAAAAEJ1IZAAAAVFBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////8wXzyWAAAAG3RSTlMADLzY+lEGA+ukgTIeFxH0aSbix7ZvWq2XiT66M+RZAAAAqUlEQVQ4y63VWw6DIBCF4TOICCpeau1t9r/P1tA09VHnfAv4o5BwoDv+OnUZzSw4QOpKd51qGnDKUOGvcmtwVv3rREMFkG/HPwU25Zc6gNBJAkanBQEpA72DIg6gaMFRbrx3o+thEbBxqupgIdiMn46HxYv0PQ/S+fgZFLoETkdTw+loCpyOLpnT0VjbO0XKnI7GNZjf+eIyEXanlNpM2MGyy2snCMd3+Q06rhKGEtqnWQAAAABJRU5ErkJggg==");
  width: 1.775rem;
  height: 0.7rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 0.4rem;
  vertical-align: middle;
  text-align: right;
  line-height: 0.75rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 0.15rem;
}

.category-strong .category-strong-ul .strong-ul-item .strong-ul-item-link small:nth-of-type(1) {
  background-color: #de8275;
  margin-right: 0.25rem;
}

.category-strong .category-strong-ul .strong-ul-item .strong-ul-item-link small:nth-of-type(2) {
  background-color: #aadd71;
}

.category-strong .category-strong-ul .strong-ul-item:nth-of-type(1)::before {
  content: '';
  width: 1px;
  height: 7.65rem;
  background-color: #F5F5EE;
  right: 0;
  top: 0;
  position: absolute;
  display: block;
}

.category-strong .category-strong-ul .strong-ul-item:nth-last-of-type(1)::after, .category-strong .category-strong-ul .strong-ul-item:nth-last-of-type(2)::after {
  display: none;
}

.category-normal {
  margin-top: 0.5rem;
  background-color: #ffffff;
  padding-top: 0.75rem;
  overflow: hidden;
}

.category-normal .category-normal-ul {
  width: 18.75rem;
  margin: 0 auto;
  padding-left: 0.5rem;
}

.category-normal .category-normal-ul .category-normal-item {
  width: 8.55rem;
  height: 5rem;
  float: left;
  margin-bottom: 0.75rem;
}

.category-normal .category-normal-ul .category-normal-item:nth-of-type(2n+1) {
  margin-right: 0.65rem;
}

.category-normal .category-normal-ul .category-normal-item .item-link {
  position: relative;
  width: 8.55rem;
  height: 5rem;
  display: block;
}

.category-normal .category-normal-ul .category-normal-item .item-link .item-name {
  color: #535252;
  font-size: 0.7rem;
  position: absolute;
  left: 0.9rem;
  top: 2.05rem;
}

.category-normal .category-normal-ul .category-normal-item .item-link .item-cover {
  width: 100%;
  height: 100%;
  display: block;
}